@CHARSET "ISO-8859-1";
body {
	font-family: "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
}

div.ribbonRight {
	display:none;
}


div.logoLeft {
	height: 75px;
	background-color: #f9f9f9;
	vertical-align: middle;
	text-align: left;
	border-bottom: #e0e0e0 1px solid;
}

div.menuBar {
display: none;
}

span.img {
	display: inline-block;
	float: left;
	margin: 4px;
}

div.box {
	border: 1px #9AC6FF solid;
	width: auto;
	margin: 2px;
	padding: 4px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

h1.banner {
	display: inline-block;
	font-size: 1.4em;
	font-weight: normal;
	color: #003759;
	text-align: left;
	vertical-align: middle;
	margin-top: 1em;
}

.downArrow {
  font-size: 85%;
  vertical-align: text-bottom;
}
 

#modelForm {
	text-align: left;
}

p.frontPageSelector {
	margin: 2px;
}

h1.indexHead {
	text-align:left;
	font-variant: small-caps;
	margin-bottom: 5px;
}

label {
	float: left;
	text-align: right;
	margin-right: 10px;
	width: 100px;
}

button.goButton {
	margin: 4px;
	padding: 2px 6px 2px 6px;
	text-align: right;
	border: 1px outset blue;
   	background-color: lightblue;
	
}

p.right {
	text-align: right;
	font-weight: bold;
}

div.footer {
	text-align: center;
	font-size: 60%;
	clear: both;
}

div.spacer {
	height: 25px;
}

td.centre {
	text-align: center;
}

div.okcancel {
	margin-top: 3px;
	
}

div.editButtons {
	margin-bottom: 3px;
}
