table.searchTable {
	background-color: #E0E0EB;
	width: 100%;
}

input.searchButton {
	background-color: #DDEEFF;
	color: black;
}

td.searchBox {
	font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
	font-size: 75%;
	font-weight: bold;
	background-color: white;
	color: black;	
	padding: 20px;
}

td.tags {
	width: 20%;
	color: red;
	font-size: 75%;
	background-color: #E0E0EB;
	font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
	vertical-align: top;
	border: 1px solid black;
}

td.results {
	vertical-align: top;
	width: 40%;
	font-size: 75%;
	font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
	border: 1px solid black;
}

select.resultList {
	width: 100%;
	font-size: 85%;
	font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
	border: none;
	background-color: #E0E0EB;
	
}

td.selected {
	vertical-align: top;
	width: 40%;
	font-size: 75%;
	font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
	border: 1px solid black;

}

select.chosenList {
	width: 100%;
	font-size: 85%;
	font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
	border: none;
	background-color: #ddeeff;
	}

td.buttons {
	vertical-align: middle;
	text-align: center;
	background-color: white;
	
}

div.tagLink {
	background-color: white;
	color: gray;
	font-weight: bold;
	border: 1px dashed black;
	padding: 2px;
	line-height: 120%;
}

td.paging {
	
	text-align: right;
	font-size: 75%;
	font-family : "Myriad Web",Verdana,Helvetica,Arial,sans-serif;
	border: 1px solid black;
	
}

div.workarea { padding:10px; float:left }

 .yui-dd-proxy {
        text-align: left;
    }
    #play {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
        zoom: 1;
    }
    #play:after { display: block; clear: both; visibility: hidden; content: '.'; height: 0;}
    #play ul {
        border: 1px solid black;
        margin: 10px;
        width: 200px;
        height: 300px;
        float: left;
        padding: 0;
        zoom: 1;
        position: relative;
        overflow: auto;
    }
    #play ul li {
        background-image: none;
        list-style-type: none;
        padding-left: 20px;
        padding: 5px;
        margin: 2px;
        cursor: move;
        zoom: 1;
        position: relative;
    }
    #play ul li.list1 {
        background-color: #8DD5E7;
        border:1px solid #004C6D;
    }
    #play ul li.list2 {
        background-color: #EDFF9F;
        border:1px solid #CDCDCD;
    }    


#user_actions { float: right; }

tr.selectedBox {
	background-color: #FF9999;
}

tr.unselectedBox {
	background-color: #E0E0EB;
}

table.filters {
	border: 1px solid black;
}