<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="appLog"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/app.log" />
		<param name="datePattern" value="dd-MM-yyyy"/>
		<!--<param name="maxFileSize" value="1024KB" />-->
		<!--<param name="maxBackupIndex" value="5" /> -->
		<param name="threshold" value="info"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="debugLog"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/debug.log" />
		<param name="datePattern" value="dd-MM-yyyy"/>
		<!--<param name="maxFileSize" value="1024KB" /> -->
		<!--<param name="maxBackupIndex" value="2" />-->
		<param name="threshold" value="debug"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="info"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

	<category name="org.springframework">
	    <priority value="info" />
	</category>
	
	<category name="org.springframework.beans">
	    <priority value="info" />
	</category>
	
	<category name="org.springframework.security">
	    <priority value="info" />
	</category>
	
	<category
	    name="org.springframework.beans.CachedIntrospectionResults">
	    <priority value="info" />
	</category>
	
	<category name="org.springframework.jdbc.core">
	    <priority value="info" />
	</category>
	
	<category
	    name="org.springframework.transaction.support.TransactionSynchronizationManager">
	    <priority value="info" />
	</category>
	
	<category name="org.hibernate">
		<priority value="info" />
	</category>
    
    <category name="org.hibernate.SQL">
		<priority value="info" />
	</category>
	
    <category name="org.hibernate.engine.query">
		<priority value="info" />
	</category>
	
	<category name="org.hibernate.type">
		<priority value="info" />
	</category>
	
    <category name="org.hibernate.jdbc">
		<priority value="info" />
	</category>	
	
    <category name="net.sf.ehcache">
		<priority value="info" />
	</category>	

	<category name="com.mchange.v2">
    	<priority value="info"/>
	</category>

	<category name="org.mongodb.morphia">
    	<priority value="error"/>
	</category>

    <root>
        <level value="TRACE"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="debugLog"/>
        <appender-ref ref="appLog"/>
    </root>

	<logger name="uk.gov.ofwat.fountain.api.ReportServiceImpl">
		<appender-ref ref="debugLog"/>
	</logger>

</log4j:configuration>