<?xml version="1.0"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Fountain</display-name>
	
	<context-param>
		<param-name>javax.ws.rs.Application</param-name>
		<param-value>uk.gov.ofwat.fountain.rest.FountainApplication</param-value>
	</context-param>
	
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest-services</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:beans.xml
            classpath:net/bull/javamelody/monitoring-spring-datasource.xml
            classpath:applicationContext-security.xml
            <!-- Not monitoring spring beans, see: https://code.google.com/p/javamelody/issues/detail?id=172  -->
  		</param-value>  		
	</context-param>


	<!-- turn on security -->
	<context-param>
		<param-name>resteasy.role.based.security</param-name>
		<param-value>true</param-value>
	</context-param>

        <filter>
            <filter-name>springSecurityFilterChain</filter-name>
            <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        </filter>

        <filter-mapping>
           <filter-name>springSecurityFilterChain</filter-name>
           <url-pattern>/*</url-pattern>
        </filter-mapping>

	<!-- 
	<listener>
    	<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
   	</listener>
	-->

	<listener>
	   <listener-class>
	      org.springframework.web.context.ContextLoaderListener
	   </listener-class>
	</listener>


	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>
	
      <filter>
      	<filter-name>monitoring</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
                <init-param>
                        <param-name>disabled</param-name>
                        <param-value>true</param-value>
                </init-param>        
       </filter>
       <filter-mapping>
       	<filter-name>monitoring</filter-name>
        <url-pattern>/*</url-pattern>
       </filter-mapping>
       <listener>
       	<listener-class>net.bull.javamelody.SessionListener</listener-class>
       </listener>	
	 
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>



	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/rest-services/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.page</url-pattern>
	</servlet-mapping>

	<servlet>
        	<servlet-name>jsp</servlet-name>
	         <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        	 <init-param>
	             <param-name>fork</param-name>
        	     <param-value>false</param-value>
	         </init-param>
        	 <init-param>
	             <param-name>xpoweredBy</param-name>
        	     <param-value>false</param-value> 
	        </init-param>
 		<init-param> 
	            <param-name>mappedfile</param-name>
        	     <param-value>false</param-value>
	     	</init-param>
        	<load-on-startup>3</load-on-startup>
     	</servlet> 

	
	<!-- 
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/ajaxerror.jsp</location>
	</error-page>
	-->
	<error-page>
		<error-code>400</error-code>
		<location>/jsp/ajaxerror.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/jsp/ajaxerror.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/jsp/ajaxerror.jsp</location>
	</error-page>


</web-app>